@import "variables.less";

.navbar {
  background-color: @primary-color;
  display: flex;
  width: 100%;

  .options ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      margin-right: 10px;
    }
  }

  .settings ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      margin-right: 10px;
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}