@import "variables.less";

.navbar {
  background-color: @primary-color;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  .left {
    display: flex;
    align-items: center;
    padding: @padding-medium;
    .logo {
      color: white;
      font-size: @font-size-large;
      font-weight: bold;
    }
  }
  .right {
    display: flex;
    align-items: center;
    padding: @padding-medium;
    .search {
      background-color: white;
      border: none;
      border-radius: @border-radius-small;
      color: @text-color;
      font-size: @font-size-small;
      padding: @padding-small @padding-medium;
    }
  }
  .options ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      margin-right: 10px;
    }
  }
  .utils {
    display: flex;
    align-items: center;

    button {
      background-color: @secondary-color;
      border: none;
      border-radius: @border-radius-small;
      color: white;
      cursor: pointer;
      font-size: @font-size-small;
      padding: @padding-small @padding-medium;
    }
  }
  .settings ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      margin-right: 10px;
    }
  }
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
}